.invisible{
    display: none;
    visibility: hidden;
}

.list-center{
    text-align: center;
}

.bg-dark {
    background-color: #888888!important;
}

.navbar-toggler {
    display: inline-block!important;
    position: absolute;
    right: 3%;
}

.dropdown-menu-right {
    border: 1px solid #a3f163;
    font-size: 18px;
}

button:focus {
    outline: 5px auto #a3f163;
}

.navbar-container {
    position: relative;
}

@media (min-width: 992px) {
    .vertical-footer {
        display: none;
    }
    .horizontal-footer{
        display: flex;
    }
    .img-header {
        height: 60px;
        width: auto;
    }
    .img-text {
        height: 200px;
        width: auto;
    }
    .card.h-100.spacer, .card.h-70.spacer {
        margin-top: 5em;
    }

    .cookie-popup {
        top: 50%;
        left: 50%;
    }    
}
@media (max-width: 992px) {
    .horizontal-footer {
        display: none;
    }
    .img-header {
        height: 45px;
        width: auto;
    }
    .img-text {
        height: auto;
        width: 250px;
    }
    .navbar-toggler {
        margin-bottom: 3.5rem;
    }
    .card.h-100.spacer, .card.h-70.spacer {
        margin-top: 3em;
    }
    .cookie-popup {
        top: 63%;
        left: 50%;
        width: 300px;
    }    
}

#navbarResponsive {
    display: flex!important;
}

.btn {
    background-color: #a3f163;
    border-color: #a3f163;
    color: black;
}

.btn:hover {
    background-color: #a3f163;
    border-color: black;
    color: black;
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

#stripNumber {
    font-weight: bold;
    letter-spacing: 2px;
}
#etitle {
    font-weight: bold;
    letter-spacing: 1px;
}

.more-space {
    margin-top: 2em;
}

.row{
    margin-bottom: 5em;
}

.card {
    border: 2px solid #a3f163; 
}

.card-body {
    padding: 0.5rem;
    -ms-flex: 1 1 auto;
}

.m-0.text-white {
    font-weight: bold;
}

.navbar-toggler {
    border: #a3f163;
}

.card-title.centered {
    text-align: center;
}

.card-text.centered {
    text-align: center;
}

.centered {
    text-align: center!important;
}

.other-font {
    font-family: 'Courier Prime', monospace;
    @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap')
}

img[usemap] {
    border: none;
    height: auto;
    max-width: 400px;
    width: 100%;
  }

div {
    width: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 56px;
  }

h1 {
    font-size: 20px;
  }

.my-navbar-nav {
    flex-direction: row;
    margin: auto;
    width: 320px;
    
}

.my-navbar-nav li {
    margin: 0 10px ;
}

.my-navbar {
    display: flex;
    padding: 10px 0;
}

.my-container {
    position: relative;
    overflow: hidden;
    width: auto;
    padding-top: 56.25%;
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.bold {
    font-weight: bold;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 0px;
}


/* Akkordeon für Hintergrundtexte:*/

.accordeon > input {
    display:none;
}
.accordeon > label {
    position:relative;
    display:block;
    padding:15px;
    cursor: pointer;
}
.accordeon > label::after{
    content:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><path class='st0' d='M4.7,5.3l5.3,5.6l5.3-5.6L17,7.1l-7,7.3L3,7.1L4.7,5.3z'/></svg>");
    position:absolute;
    top:10px;
    right:10px;
    transform:rotate(0deg);
}
.accordeon > div {
    padding:15px;
    max-height: 0;
    opacity: 0;
    transform: translate(0, -50%);
    transition: all .25s ease-in-out;    
    position: relative;
    margin-top: -33px;
}
.accordeon > input:checked + label + div{
    opacity: 1;
    transform: translate(0, 0);
    max-height:100000px;
    margin-top:0px;
}
.accordeon > input:checked + label::after{
    top:5px;
    transform:rotate(180deg);
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    overflow-y: scroll;
  }

  .cookie-popup2 { 
    text-align: center; 
    background: #fff;
    position: fixed;
    top: 0px; 
    left: 0;
    right: 0;
    z-index: 9999;
    font-size:14px; 
    line-height:20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    margin-top: 25%;
    margin-bottom: 25%;
    }

    .cookie-popup{
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 9999;
        font-size:14px; 
        line-height:20px;
        padding: 20px;
        background: #fff;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }

    .noscroll{
        overflow:hidden;
    }
  
  

