/*** Individual CSS Layouting for your page ***/
/*** Feel free to modify this content and   ***/
/*** change it to your requirements.        ***/
/***                                        ***/
/*** I highly recommend using bootstrap     ***/
/*** for design - since it eases up things! ***/

/*** Common CSS Layouting ***/

.bg-dark{
    background-color: wheat;
}

.fluid-img{
    max-width:100%; 
    height:auto
}

.invisible{
    display: none;
    visibility: hidden;
}

.content{
    /*width: 75vw;*/
}

/*** End of Common CSS Layouting ***/

/*** Grid Layout CSS ***/

.menu-grid {
    display: grid;
    grid-template-columns: 10% auto 10% 10%;
    grid-template-rows: auto auto auto;
    padding: 10px;
}

.grid-container-1 {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;   
}

.grid-row-leftmid{
    grid-row: 2;
    grid-column: 1;
}

.grid-row-rightmid{
    grid-row: 2;
    grid-column: 3;
}

.grid-row-c-title{
    grid-row: 1;
    grid-column: 2;
}

.grid-row-e-title{
    grid-row: 2;
    grid-column: 2;
}

.grid-row-s-title{
    grid-row: 3;
    grid-column: 2;
}

.grid-menu-icon{
    grid-row: 1 / span 3;
    grid-column: 4;
}

.grid-item {
    display: flex;
    align-items: center;
    margin: auto;
}



/*** End of Grid Layout CSS ***/

/*** DropDown-Menue CSS ***/

.dropdown{
    position: relative;
    display: inline-block;
}

.dropbtn{
    background-color: rgba(0,0,0,0);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgba(0,0,255,0.2);}

/*** End of DropDown-Menue CSS ***/

/*** Information-Overlay Box CSS ***/

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    overflow-y: scroll;
  }

  .infobox{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    font-size:14px; 
    line-height:20px;
    padding: 20px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

  /*** End Information-Overlay Box CSS ***/


/*
.invisible{
    display: none;
    visibility: hidden;
}

.list-center{
    text-align: center;
}

.bg-dark {
    background-color: #888888!important;
}

.navbar-toggler {
    display: inline-block!important;
    position: absolute;
    right: 3%;
}

.dropdown-menu-right {
    border: 1px solid #a3f163;
    font-size: 18px;
}

button:focus {
    outline: 5px auto #a3f163;
}

.navbar-container {
    position: relative;
}

@media (min-width: 992px) {
    .vertical-footer {
        display: none;
    }
    .horizontal-footer{
        display: flex;
    }
    .img-header {
        height: 60px;
        width: auto;
    }
    .img-text {
        height: 200px;
        width: auto;
    }
    .card.h-100.spacer, .card.h-70.spacer {
        margin-top: 5em;
    }

    .cookie-popup {
        top: 50%;
        left: 50%;
    }    
}
@media (max-width: 992px) {
    .horizontal-footer {
        display: none;
    }
    .img-header {
        height: 45px;
        width: auto;
    }
    .img-text {
        height: auto;
        width: 250px;
    }
    .navbar-toggler {
        margin-bottom: 3.5rem;
    }
    .card.h-100.spacer, .card.h-70.spacer {
        margin-top: 3em;
    }
    .cookie-popup {
        top: 63%;
        left: 50%;
        width: 300px;
    }    
}

#navbarResponsive {
    display: flex!important;
}

.btn {
    background-color: #a3f163;
    border-color: #a3f163;
    color: black;
}

.btn:hover {
    background-color: #a3f163;
    border-color: black;
    color: black;
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

#stripNumber {
    font-weight: bold;
    letter-spacing: 2px;
}
#etitle {
    font-weight: bold;
    letter-spacing: 1px;
}

.more-space {
    margin-top: 2em;
}

.row{
    margin-bottom: 5em;
}

.card {
    border: 2px solid #a3f163; 
}

.card-body {
    padding: 0.5rem;
    -ms-flex: 1 1 auto;
}

/*.m-0.text-white {
    font-weight: bold;
}

.navbar-toggler {
    border: #a3f163;
}

.card-title.centered {
    text-align: center;
}

.card-text.centered {
    text-align: center;
}

.centered {
    text-align: center!important;
}

.other-font {
    font-family: 'Courier Prime', monospace;
    @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap')
}

img[usemap] {
    border: none;
    height: auto;
    max-width: 400px;
    width: 100%;
  }

div {
    width: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 56px;
  }

h1 {
    font-size: 20px;
  }

.my-navbar-nav {
    flex-direction: row;
    margin: auto;
    width: 320px;
    
}

.my-navbar-nav li {
    margin: 0 10px ;
}

.my-navbar {
    display: flex;
    padding: 10px 0;
}

.my-container {
    position: relative;
    overflow: hidden;
    width: auto;
    padding-top: 56.25%;
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.bold {
    font-weight: bold;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 0px;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer;
    overflow-y: scroll;
  }
  
  .cookie-popup{
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 9999;
        font-size:14px; 
        line-height:20px;
        padding: 20px;
        background: #fff;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }

    .noscroll{
        overflow:hidden;
    }
*/  
  

